{
  "root": true,
  "extends": [
    "airbnb-base",
    "plugin:@typescript-eslint/recommended"
  ],
  "env": {
    "commonjs": true,
    "es6": true,
    "node": false,
    "browser": true
  },
  "parserOptions": {
    "parser": "@typescript-eslint/parser",
    "project": "tsconfig.json",
    "tsconfigRootDir": ".",
    "requireConfigFile": false,
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "jsx": false
    },
    "ecmaVersion": 2021,
    "sourceType": "module"
  },
  "plugins": [
    "import",
    "@typescript-eslint"
  ],
  "settings": {
    "import/resolver": {
      "typescript": {
        "extensions": [
          ".js",
          ".jsx",
          ".ts",
          ".tsx",
          ".d.ts"
        ]
      },
      "node": {
        "extensions": [
          ".js",
          ".jsx",
          ".ts",
          ".tsx",
          ".d.ts"
        ]
      }
    }
  },
  "globals": {
  },
  "rules": {
    "semi": [
      "error",
      "never"
    ],
    "@typescript-eslint/semi": ["error", "never"],
    "linebreak-style": "off",
    "comma-dangle": "off",
    "no-confusing-arrow": "off",
    "arrow-parens": "off",
    "space-before-function-paren": [
      "error",
      "always"
    ],
    "max-statements": [
      2,
      16
    ],
    "max-depth": [
      2,
      5
    ],
    "complexity": [
      2,
      7
    ],
    "max-len": [
      2,
      130
    ],
    "max-params": [
      2,
      3
    ],
    "max-nested-callbacks": [
      2,
      5
    ],
    "consistent-this": "error",
    "no-extra-bind": "error",
    "import/extensions": "off",
    "no-plusplus": "off",
    "no-underscore-dangle": "warn",
    "no-param-reassign": "warn",
    "import/no-extraneous-dependencies": "off",
    "no-bitwise": "off",
    "prefer-destructuring": [
      "error",
      {
        "object": true,
        "array": false
      }
    ],
    "import/prefer-default-export": 0
  }
}
